# Sort of a hack: Targets can't be reloaded, so we call it a service instead
[Unit]
Description=kage service
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/true
ExecReload=/bin/true
WorkingDirectory=/etc/kage

[Install]
WantedBy=multi-user.target

